<a href="https://colab.research.google.com/github/seungeun-lee99/dtpythonblog/blob/master/_notebooks/20210601_4%ED%8C%80_%EC%9D%B4%EC%8A%B9%EC%9D%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#반복문

#for 구조

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#range함수
for i in range(5):
    print(i,end= " ")        #end=" "와 같이 공백을 지정하면 줄이 바뀌지 않고 공백만큼의 간격으로 출력

0 1 2 3 4

In [ ]:
#range함수
for i in range(1,6):
    print(i,end= "")       #end=""는 가로로 출력

12345

In [ ]:
#range함수
for i in range(1,10,2):
    print(i,end= ",")

1,3,5,7,9,

In [ ]:
#range함수-역순 : 오류 시작값은 끝값보다 앞에 위치하여야 한다
for i in range(1,10,-1):
    print(i,end= " ")

In [ ]:
#range함수-역순 : 오류
for i in range(10,0,-1):
    print(i,end= "\t")              #"\t"은 탭 간격으로 출력

10	9	8	7	6	5	4	3	2	1

In [ ]:
for i in range(10):                  #range(횟수)만큼 반복된다.
    print('Hello World!!')

Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

#while
while + 조건식:</br>
조건식의 결과가 True인 동안 반복된다.</br>
반복을 마치기 위해서는 False 결과가 나와야 한다.

In [ ]:
#while 구조반복
i = 1                    #루프의 조건식에 사용되는 변수는 루프에 들어가기 전에 초기화되어야 한다.
while i <= 5:
    print(i, end= ' ')
    i = i + 1            #루프의 조건식에 사용되는 변수 값은 루프 내에서 변경되어야 한다.

1 2 3 4 5

In [ ]:
for i in range(1,6):
    print(i,end=' ')

1 2 3 4 5

In [ ]:
i = 1
while i <= 5:
    i = i + 1
    print(i, end= ' ')

2 3 4 5 6

In [ ]:
i = 0
while i <= 5:
    i = i + 1
    print(i, end= ' ')

1 2 3 4 5 6

무한루프일때 `ctrl+ m i`으로 실행 멈출 수 있음.

In [ ]:
#무한루프 
i = 1 
while i <= 5: # i값이 계속 1이므로 무한루프 -> 계속해서 '1'값 출력
    print(i)
print('end')

In [ ]:
#예제 > 'q'를 입력할 때까지 반복하여 이름 입력받기
#'q'를 입력할때까지 반복하여 이름을 입력받는 프로그램을 작성하시오.
name = ' '
while name != 'q':
    name = input('이름을 입력하세요:')
    print(name)

이름을 입력하세요:미미
미미
이름을 입력하세요:지호
지호
이름을 입력하세요:q
q

In [ ]:
# q를 입력할 때까지 반복입력
name = ' '
while name != 'q':
    name = input('이름을 입력하세요:')
    if name != 'q':         #q일때는 이름 출력 안한다.
        print(name)

이름을 입력하세요:a
a
이름을 입력하세요:b
b
이름을 입력하세요:c
c
이름을 입력하세요:q

In [ ]:
cnum1 = 0
sum1 = 0
while num1 != 99:
    num1 = int(input('숫자를 입력하세요:'))
    sum1 += num1
    print(sum1)

숫자를 입력하세요:10
10
숫자를 입력하세요:20
30
숫자를 입력하세요:50
80
숫자를 입력하세요:99
179

In [ ]:
#예제 > 5개의 정수를 입력받아 합계 구하기
#5개의 정수를 입력받아 합계를 구하여 출력하는 프로그램 작성

#for문 이용
sum = 0                                         #합계 초기화
for i in range(5):                              #5번 반복
    num = int(input('정수를 입력하세요:'))      #입력
    sum += num                                  #입력한 정수를 합계에 누적하여 더하기
print('합계출력:',sum)                          #합계 출력

정수를 입력하세요:3
정수를 입력하세요:7
정수를 입력하세요:20
정수를 입력하세요:345
정수를 입력하세요:13
합계출력: 388

In [ ]:
#예제 > 5개의 정수를 입력받아 합계 구하기
#5개의 정수를 입력받아 합계를 구하여 출력하는 프로그램 작성

#while문 이용
sum = 0
i=1
while i <= 5:
    i += 1
    num = int(input('정수를 입력하세요:'))
    sum += num
print('합계출력:',sum)

정수를 입력하세요:35
정수를 입력하세요:56
정수를 입력하세요:53
정수를 입력하세요:32
정수를 입력하세요:34
합계출력: 210

In [ ]:
# 예제 > n개의 정수를 입력 받아 합계 출력
#사용자로부터 n을 입력받고 n개의 정수를 입력받아 합계를 구하여 출력하는 프로그램 작성

n= int(input('몇개의 숫자를 더할까요?:'))           #반복횟수 n 입력
sum1 = 0                                            #합계 초기화
for i in range(n):                                  #n번 반복
    num = int(input('정수를 입력하세요:'))          #입력
    sum1 += num
print('합계:',sum1)

몇개의 숫자를 더할까요?:5
정수를 입력하세요:1
정수를 입력하세요:2
정수를 입력하세요:3
정수를 입력하세요:4
정수를 입력하세요:5
합계: 15

In [ ]:
#예제 > n개의 정수를 입력받아 짝수의 합계 구하기
#사용자로부터 n을 입력받고 n개의 정수를 입력받아 짝수의 합계를 구하여 출력하는 프로그램 작성

n=int(input('몇개의 숫자를 더할까요?:'))
sum1 = 0
for i in range(n):
    num = int(input('정수를 입력하세요:'))
    if num % 2 == 0:
        sum1 += num
print('합계출력:', sum1)

몇개의 숫자를 더할까요?:5
정수를 입력하세요:2
정수를 입력하세요:3
정수를 입력하세요:4
정수를 입력하세요:5
정수를 입력하세요:6
합계출력: 12

In [ ]:
#예제 > 0이 입력될 때까지 숫자를 입력 받아 합계
#0이 입력될때까지 사용자가 숫자를 입력하고, 입력이 끝나면 입력된 숫자들의 합이 출력되는 프로그램 작성
sum1 = 0
num = ' '                       #초기값을 줘야 오류발생 X
num = int(input('숫자:'))
while num != 0:
    sum1 += num
    num = int(input('숫자:'))

print('합계출력:',sum1)

숫자:4
숫자:6
숫자:3
숫자:5
숫자:0
합계출력: 18

In [ ]:
#예제 > 0이 입력될 때까지 숫자를 입력 받아 합계
#0이 입력될때까지 사용자가 숫자를 입력하고, 입력이 끝나면 입력된 숫자들의 합이 출력되는 프로그램 작성

sum1 = 0
chk = 1

while num1!=0 or chk == 1:
    num1 = int(input("숫자:"))
    sum1 += num1
    if chk == 1:
        chk = 1 + chk
print('합계:',sum1)
print(chk)

숫자:23
숫자:3
숫자:1
숫자:23
숫자:0
합계: 50
2

In [ ]:
#예제1 > 1~n까지 더하는 프로그램을 작성하세요
# 숫자 n을 입력받아 1~n까지의 합을 구하여 출력하는 파이썬 프로그램을 작성하세요

sum1 = 0
n = int(input('1부터 몇까지 더할까요?:'))
for i in range(1,n+1):
    sum1 += i
print(f'1부터 {n}까지 더한 합계는:',sum1)

1부터 몇까지 더할까요?:10
1부터 10까지 더한 합계는: 55

In [ ]:
#예제1 > 1~n까지 더하는 프로그램을 작성하세요
# 숫자 n을 입력받아 1~n까지의 합을 구하여 출력하는 파이썬 프로그램을 작성하세요

sum1 = 0
n = int(input('1부터 몇까지 더할까요?:'))
i=1
while i <= n:
    sum1 += i
    i += 1
print(f'1부터 {n}까지 더한 합계는:',sum1)

1부터 몇까지 더할까요?:5
1부터 5까지 더한 합계는: 15

In [ ]:
#예제1 > n1~n2까지 더하는 프로그램을 작성하세요
# 숫자 n1, n2를 입력받아 n1~n2까지의 합을 구하여 출력하는 파이썬 프로그램을 작성하세요

sum1 = 0
n1 = int(input('몇부터 더할까요?:'))
n2 = int(input('몇부터 더할까요?:'))
for i in range(n1, n2+1):
    sum1 += i
print(f'{n1}부터 {n2}까지 더한 합계는:', sum1)

몇부터 더할까요?:1
몇부터 더할까요?:5
1부터 5까지 더한 합계는: 15

In [ ]:
#예제 > 임의의 개수 숫자의 평균 구하기
#사용자에게 n개의 숫자를 입력받아 그 숫자들의 평균을 계산해서 출력하는 파이썬 프로그램을 작성하세요.
#프로그램 실행 초반에 사용자가 입력할 숫자의 개수를 입력 받습니다.

n=int(input('입력받을 정수의 개수:'))
sum1 = 0
for i in range(n):
    num = int(input('숫자:'))
    sum1 += num
if n == 0:
    print('0개의 정수를 입력하셨습니다.')
else:
    print('평균:', sum1/n)

입력받을 정수의 개수:3
숫자:2
숫자:4
숫자:6
평균: 4.0

In [ ]:
#예제 > 팩토리얼 계산하기
#정수 n을 입력받아 n!을 계산하는 프로그램 작성

n= int(input('몇 팩토리얼?:'))
factorial = 1
for i in range(n,0,-1):
    factorial *= i
print(f'{n}! = {factorial}')

몇 팩토리얼?:4
4! = 24

In [ ]:
#예제 > 구구단
#정수 n을 입력받아 해당 구구단을 계산하는 프로그램을 작성하세요.

n= int(input('구구단 몇단을 출력할까요?:'))
for i in range(1,10):
    print(f'{n} * {i} = {n*i}')

구구단 몇단을 출력할까요?:6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

#중첩반복구조

In [ ]:
for i in range(5):          #내부 루프와 외부루프는 동일한 제어변수를 사용해서는 안된다.(ex.i,j)
    for j in range(3):      #내부 for문을 외부 for문의 시퀀스만큼 반복한다.
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
#예제 > 전체 구구단 출력하기(가로)

for i in range(2,10):
    for j in range(1,10):
        print(f'{i} * {j} = {i*j}', end='\t')
    print()

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [ ]:
#예제 > 전체 구구단 출력하기(세로)

for i in range(1,10):
    for j in range(2,10):
        print(f'{j} * {i} = {i*j}', end='\t')
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

#반복문 벗어나기 Break

In [ ]:
#문장에서 해당 문자를 찾으면 반복을 종료한다.
t = 'I have a dream'
letter = input('찾을 문자:')
for i in t:
    print(i, end=" ")
    if i == letter:
        break

찾을 문자:a
I   h a

#예제 > up & down 게임
1~100 사이의 정답숫자를 랜덤으로 하나 정하고 정답숫자를 맞출 때까지 숫자를 입력하는 게임이다.</br>
내가 입력한 숫자가 정답보다 작으면 'DOWN'을, 정답보다 크면 'UP'을 출력하고 숫자를 다시 입력받는다.</br>
정답을 맞추면 '정답!'이라고 출력하고 게임을 끝낸다.</br>

In [ ]:
import random
n = random.randint(1,100)

answer = int(input('예상 숫자:'))
while n != answer:
    if answer > n:
        print('DOWN')
        answer = int(input('예상 숫자:'))
    elif answer < n:
        print('UP')
        answer = int(input('예상 숫자:'))
print('정답!')
print(f'정답은 {n}였습니다.')

예상 숫자:35
UP
예상 숫자:50
UP
예상 숫자:45
UP
예상 숫자:70
DOWN
예상 숫자:65
DOWN
예상 숫자:60
DOWN
예상 숫자:58
DOWN
예상 숫자:57
DOWN
예상 숫자:55
DOWN
예상 숫자:53
DOWN
예상 숫자:52
DOWN
예상 숫자:51
정답!
정답은 51였습니다.